.page-code-table {
  margin-top: 20px;
}
.add-repo-input {
  margin-top: 20px;
}
.add-repo-input-row {
  margin-top: 8px;
}

.commit-detail-bar {
  margin-bottom: 16px;
}
.return-repo-btn {
  margin-left: 20px;
}
.return-commit-btn {
  margin-bottom: 16px;
}